header{
    background: linear-gradient(180deg, #444444 0%, #202020 100%);
    text-align: center;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.41);
}

header img{
    height: 90px;
    margin: 10px 0px;
}

.btncompra{
    width: 100%;
    text-align: center;
}

.Informations h1{
    margin-top: 30px;
    text-align: center;
    font-family: manrope;
    font-weight: 800;
}

.Informations p{
    text-align: center;
    font-size: manrope;
    margin-bottom: 0px;
}

.tickets h2, .tickets p{
    font-family: manrope;
    text-align: center;
}

.tickets h2{
    font-weight: 800;
}

.card-compra{
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 0px 17px 0px rgb(152 152 152 / 37%);
    padding: 20px 0px
}

body{
    background-color: rgb(228, 228, 228);
    background-image: url(img/background.png);
    background-size: cover;
    background
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #5a5a5a;
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: manrope;
}
@media only screen and (max-width: 769px){
    footer {
        position: initial;
    }
}